{% load static i18n %}
<!-- ========== Left Sidebar Start ========== -->
<div class="leftside-menu">

    <!-- Brand Logo Light -->
    <a href="{% url 'thoth_core:index' %}" class="logo logo-light">
        <span class="logo-lg">
            <img src="{% static 'images/logo.png' %}" alt="logo">
        </span>
        <span class="logo-sm">
            <img src="{% static 'images/logo-sm.png' %}" alt="small logo">
        </span>
    </a>

    <!-- Brand Logo Dark -->
    <a href="{% url 'thoth_core:index' %}" class="logo logo-dark">
        <span class="logo-lg">
            <img src="{% static 'images/logo-dark.png' %}" alt="dark logo">
        </span>
        <span class="logo-sm">
            <img src="{% static 'images/logo-dark-sm.png' %}" alt="small logo">
        </span>
    </a>

    <!-- Sidebar Hover Menu Toggle Button -->
    <div class="button-sm-hover" data-bs-toggle="tooltip" data-bs-placement="right" title="Show Full Sidebar">
        <i class="ri-checkbox-blank-circle-line align-middle"></i>
    </div>

    <!-- Full Sidebar Menu Close Button -->
    <div class="button-close-fullsidebar">
        <i class="ri-close-fill align-middle"></i>
    </div>

    <!-- Sidebar -left -->
    <div class="h-100" id="leftside-menu-container" data-simplebar>
        <!-- Leftbar User -->
        <div class="leftbar-user">
            <a href="#">
                <img src="{% static 'images/users/avatar-1.jpg' %}" alt="user-image" height="42"
                     class="rounded-circle shadow-sm">
                <span class="leftbar-user-name mt-2">Dominic Keller</span>
            </a>
        </div>

        <!--- Sidemenu -->
        <ul class="side-nav">

            <li class="side-nav-title">Navigation</li>

            <li class="side-nav-item">
                <a href="{% url 'thoth_core:index' %}" class="side-nav-link">
                    <i class="uil-cog"></i>
                    <span> Home </span>
                </a>
            </li>


            <li class="side-nav-title">Evidence & Context</li>

            <li class="side-nav-item">
                <a href="{% url 'thoth_ai_backend:evidence' %}" class="side-nav-link">
                    <i class="uil-comment-question"></i>
                    <span> Evidences </span>
                </a>
            </li>

            <li class="side-nav-item">
                <a href="{% url 'thoth_ai_backend:questions' %}" class="side-nav-link">
                    <i class="uil-question-circle"></i>
                    <span> Gold SQLs </span>
                </a>
            </li>

            <li class="side-nav-item">
                <a href="{% url 'thoth_ai_backend:columns' %}" class="side-nav-link">
                    <i class="uil-table"></i>
                    <span> Columns </span>
                </a>
            </li>

            <li class="side-nav-title">Documentation</li>
            <li class="side-nav-item">
                <a href="{% url 'thoth_ai_backend:db_docs' %}" class="side-nav-link">
                    <i class="uil-file-alt"></i>
                    <span> Db Docs </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="{% url 'thoth_ai_backend:erd' %}" class="side-nav-link">
                    <i class="uil-sitemap"></i>
                    <span> ERD </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="{% url 'thoth_ai_backend:gdpr_report' %}" class="side-nav-link">
                    <i class="uil-shield-check"></i>
                    <span> GDPR Report </span>
                </a>
            </li>

            <li class="side-nav-title">Preprocessing</li>
            <li class="side-nav-item">
                <a href="{% url 'thoth_ai_backend:preprocess' %}" class="side-nav-link">
                    <i class="uil-file-info-alt"></i>
                    <span> Preprocessing </span>
                </a>
            </li>

        </ul>
        <!--- End Sidemenu -->

        <div class="clearfix"></div>
    </div>
</div>
<!-- ========== Left Sidebar End ========== -->
